<h1></h1>
<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Managment</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Library Managment</label>
        <ul>
            {%if user.is_authenticated%}
            <li><a href="{%url 'library:Main_lib' %}"> {{request.user}}  welcome,Library</a></li>
            <li><a href="{%url 'library:logout' %}">Logout</a></li>
            {%else%}
            <li><a href="{%url 'library:register' %}">New Admin</a></li>
            <li><a href="{%url 'library:login' %}">Login Admin</a></li>
            {%endif%}
            <li><a href="#">About us</a></li>
            <li><a class="active" href="#">Home</a></li>
        </ul>
    </nav>
    <section><img src="{% static 'image/home.jpg'%}" height="750" width="1550"></section>
</body>
</html>
