<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Book..</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <nav>
        <label class="logo">Hello {{request.user}}, Welcome to Library...</label>
        <ul>
            <li><a href="{%url 'library:addMember' %}">Add Member</a></li>
            <li><a href="{%url 'library:addBook' %}">Add Book</a></li>
            <li><a href="{%url 'library:Main_lib' %}">Library</a></li>
            <li><a href="{%url 'library:logout' %}">Logout</a></li>
        </ul>
    </nav>
    <form method="POST" action="">
        {% csrf_token %}
        <!-- val = {{form.member}} -->
        <table border="1">
            {{form.as_table}}
            <tr>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>